@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 0 0% 0%; /* black */
  --foreground: 231 233 234; /* rgb(231, 233, 234) */
  --muted: 113 118 123; /* #71767B */
  --muted-foreground: 113 118 123; /* #71767B */
  --border: 51 54 57; /* rgb(51, 54, 57) */
  --highlight: 29 155 240; /* rgb(29, 155, 240) */
  }
}
